<a href="https://colab.research.google.com/github/Qbaxxx/Metody_analizy_danych_LAB_JBabinski/blob/main/Lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("loan_data.csv")

Zadanie 1

In [3]:
df.rename(columns={"loan_amnt": "loan_amount"}, inplace=True)

Zadanie 2

In [4]:
zad2_a = df[['person_gender', 'person_age', 'person_income']]

In [5]:
zad2_b = df.iloc[1000:2001]

In [6]:
zad2_c = df.iloc[::2]

In [7]:
zad2_d = df[df.index % 2 == 0]

In [8]:
zad2_e = df.iloc[:, [0, -1]]

In [9]:
print("2a:\n", zad2_a.head())
print("2b:\n", zad2_b.head())
print("2c:\n", zad2_c.head())
print("2d:\n", zad2_d.head())
print("2e:\n", zad2_e.head())

2a:
   person_gender  person_age  person_income
0        female        22.0        71948.0
1        female        21.0        12282.0
2        female        25.0        12438.0
3        female        23.0        79753.0
4          male        24.0        66135.0
2b:
       person_age person_gender person_education  person_income  \
1000        23.0          male         Bachelor        30059.0
1001        24.0          male         Bachelor        68258.0
1002        21.0          male         Bachelor        60821.0
1003        25.0          male      High School        70432.0
1004        21.0        female         Bachelor        63842.0

      person_emp_exp person_home_ownership  loan_amount loan_intent  \
1000               0              MORTGAGE       1375.0     MEDICAL
1001               2                  RENT      18000.0   EDUCATION
1002               0                  RENT      18000.0   EDUCATION
1003               6                  RENT      18000.0     VENTURE
1004               0                  RENT      18000.0     MEDICAL

      loan_int_rate  loan_percent_income  cb_person_cred_hist_length  \
1000          11.11                 0.05                         4.0
1001          13.48                 0.26                         3.0
1002          14.74                 0.30                         2.0
1003          11.01                 0.26                         4.0
1004          19.69                 0.28                         2.0

      credit_score previous_loan_defaults_on_file  loan_status
1000           506                             No            1
1001           671                             No            1
1002           530                             No            1
1003           609                             No            1
1004           678                             No            1
2c:
    person_age person_gender person_education  person_income  person_emp_exp  \
0        22.0        female           Master        71948.0               0
2        25.0        female      High School        12438.0               3
4        24.0          male           Master        66135.0               1
6        26.0        female         Bachelor        93471.0               1
8        24.0        female        Associate       100684.0               3

  person_home_ownership  loan_amount loan_intent  loan_int_rate  \
0                  RENT      35000.0    PERSONAL          16.02
2              MORTGAGE       5500.0     MEDICAL          12.87
4                  RENT      35000.0     MEDICAL          14.27
6                  RENT      35000.0   EDUCATION          12.42
8                  RENT      35000.0    PERSONAL           8.90

   loan_percent_income  cb_person_cred_hist_length  credit_score  \
0                 0.49                         3.0           561
2                 0.44                         3.0           635
4                 0.53                         4.0           586
6                 0.37                         3.0           701
8                 0.35                         2.0           544

  previous_loan_defaults_on_file  loan_status
0                             No            1
2                             No            1
4                             No            1
6                             No            1
8                             No            1
2d:
    person_age person_gender person_education  person_income  person_emp_exp  \
0        22.0        female           Master        71948.0               0
2        25.0        female      High School        12438.0               3
4        24.0          male           Master        66135.0               1
6        26.0        female         Bachelor        93471.0               1
8        24.0        female        Associate       100684.0               3

  person_home_ownership  loan_amount loan_intent  loan_int_rate  \
0                  RENT      35000.0    PERSONAL          16.02
2              MORTGAGE       5500.0     MEDICAL          12.87
4                  RENT      35000.0     MEDICAL          14.27
6                  RENT      35000.0   EDUCATION          12.42
8                  RENT      35000.0    PERSONAL           8.90

   loan_percent_income  cb_person_cred_hist_length  credit_score  \
0                 0.49                         3.0           561
2                 0.44                         3.0           635
4                 0.53                         4.0           586
6                 0.37                         3.0           701
8                 0.35                         2.0           544

  previous_loan_defaults_on_file  loan_status
0                             No            1
2                             No            1
4                             No            1
6                             No            1
8                             No            1
2e:
    person_age  loan_status
0        22.0            1
1        21.0            0
2        25.0            1
3        23.0            1
4        24.0            1

Zadanie 3

In [10]:
zad3_a = df[
    (df['person_gender'] == 'female') &
    (df['person_education'].isin(['Master', 'Bachelor'])) &
    (df['loan_amount'].between(50000, 70000))
]

zad3_b = df[
    (df['person_gender'] == 'male') &
    (df['person_education'] != 'Master') &
    (df['person_home_ownership'] == 'OWN')
]

zad3_c = df[
    df['loan_percent_income'].between(0.4, 0.6)
]

zad3_d = df[
    df['loan_amount'] % 10000 == 0
]

In [15]:
print("3a:\n", zad3_a.head)
print("3b:\n", zad3_b.head)
print("3c:\n", zad3_c.head)
print("3d:\n", zad3_d.head)

3a:
 <bound method NDFrame.head of Empty DataFrame
Columns: [person_age, person_gender, person_education, person_income, person_emp_exp, person_home_ownership, loan_amount, loan_intent, loan_int_rate, loan_percent_income, cb_person_cred_hist_length, credit_score, previous_loan_defaults_on_file, loan_status]
Index: []>
3b:
 <bound method NDFrame.head of        person_age person_gender person_education  person_income  \
27           23.0          male      High School        14293.0
30           21.0          male      High School        14858.0
35           21.0          male        Associate        15150.0
43           23.0          male      High School       361547.0
57           23.0          male         Bachelor       333399.0
...           ...           ...              ...            ...
44353        25.0          male      High School        18772.0
44391        26.0          male        Associate        15288.0
44543        30.0          male      High School        24052.0
44683        23.0          male        Associate        23346.0
44825        22.0          male      High School        22538.0

       person_emp_exp person_home_ownership  loan_amount      loan_intent  \
27                  0                   OWN       1400.0         PERSONAL
30                  0                   OWN       2000.0          MEDICAL
35                  0                   OWN       2500.0        EDUCATION
43                  0                   OWN      24250.0        EDUCATION
57                  1                   OWN      35000.0         PERSONAL
...               ...                   ...          ...              ...
44353               2                   OWN       4468.0          VENTURE
44391               2                   OWN       2690.0        EDUCATION
44543               8                   OWN       7000.0  HOMEIMPROVEMENT
44683               2                   OWN       4027.0          VENTURE
44825               1                   OWN       4913.0        EDUCATION

       loan_int_rate  loan_percent_income  cb_person_cred_hist_length  \
27              9.32                 0.10                         3.0
30             11.12                 0.13                         3.0
35              7.51                 0.17                         4.0
43             19.41                 0.07                         2.0
57             11.01                 0.10                         4.0
...              ...                  ...                         ...
44353          11.99                 0.24                         4.0
44391          10.96                 0.18                         4.0
44543          15.78                 0.29                         5.0
44683          15.01                 0.17                         4.0
44825          13.68                 0.22                         5.0

       credit_score previous_loan_defaults_on_file  loan_status
27              607                             No            0
30              589                             No            1
35              600                             No            1
43              637                            Yes            0
57              609                             No            0
...             ...                            ...          ...
44353           658                             No            1
44391           649                             No            1
44543           590                             No            1
44683           646                             No            1
44825           637                             No            1

[1360 rows x 14 columns]>
3c:
 <bound method NDFrame.head of        person_age person_gender person_education  person_income  \
0            22.0        female           Master        71948.0
2            25.0        female      High School        12438.0
3            23.0        female         Bachelor        79753.0
4            24.0          male           Master        66135.0
22           22.0        female           Master        79255.0
...           ...           ...              ...            ...
44903        25.0          male        Associate        43219.0
44940        29.0          male      High School        30046.0
44942        27.0          male           Master        48432.0
44966        26.0        female         Bachelor        36844.0
44986        34.0          male         Bachelor        41876.0

       person_emp_exp person_home_ownership  loan_amount        loan_intent  \
0                   0                  RENT      35000.0           PERSONAL
2                   3              MORTGAGE       5500.0            MEDICAL
3                   0                  RENT      35000.0            MEDICAL
4                   1                  RENT      35000.0            MEDICAL
22                  0                  RENT      34000.0          EDUCATION
...               ...                   ...          ...                ...
44903               1                  RENT      22807.0            MEDICAL
44940               7                  RENT      12092.0           PERSONAL
44942               8                  RENT      20223.0            VENTURE
44966               0                  RENT      16000.0  DEBTCONSOLIDATION
44986              14                  RENT      19594.0  DEBTCONSOLIDATION

       loan_int_rate  loan_percent_income  cb_person_cred_hist_length  \
0              16.02                 0.49                         3.0
2              12.87                 0.44                         3.0
3              15.23                 0.44                         2.0
4              14.27                 0.53                         4.0
22             17.58                 0.43                         4.0
...              ...                  ...                         ...
44903          12.67                 0.53                         5.0
44940          11.79                 0.40                         7.0
44942           6.83                 0.42                         8.0
44966          12.00                 0.43                         5.0
44986          12.03                 0.47                         8.0

       credit_score previous_loan_defaults_on_file  loan_status
0               561                             No            1
2               635                             No            1
3               675                             No            1
4               586                             No            1
22              691                             No            1
...             ...                            ...          ...
44903           668                             No            1
44940           535                             No            1
44942           650                             No            1
44966           620                             No            1
44986           707                             No            1

[508 rows x 14 columns]>
3d:
 <bound method NDFrame.head of        person_age person_gender person_education  person_income  \
15           23.0        female           Master       600891.0
36           22.0        female         Bachelor        58868.0
37           24.0          male      High School        78026.0
38           25.0          male         Bachelor        90785.0
39           23.0        female      High School        86811.0
...           ...           ...              ...            ...
44910        29.0          male         Bachelor        70997.0
44944        26.0          male        Associate        97590.0
44953        36.0          male           Master        71544.0
44962        23.0          male        Associate        89930.0
44984        24.0        female      High School        75941.0

       person_emp_exp person_home_ownership  loan_amount        loan_intent  \
15                  5              MORTGAGE      30000.0  DEBTCONSOLIDATION
36                  0                  RENT      30000.0          EDUCATION
37                  3                  RENT      30000.0  DEBTCONSOLIDATION
38                  4                  RENT      30000.0    HOMEIMPROVEMENT
39                  0                  RENT      30000.0  DEBTCONSOLIDATION
...               ...                   ...          ...                ...
44910               6                  RENT      20000.0           PERSONAL
44944               7                  RENT      30000.0  DEBTCONSOLIDATION
44953              13                  RENT      10000.0          EDUCATION
44962               0              MORTGAGE      10000.0            VENTURE
44984               1                  RENT      20000.0            MEDICAL

       loan_int_rate  loan_percent_income  cb_person_cred_hist_length  \
15             10.65                 0.05                         3.0
36             18.39                 0.51                         2.0
37             14.54                 0.38                         3.0
38             16.89                 0.33                         4.0
39             11.01                 0.35                         4.0
...              ...                  ...                         ...
44910          13.28                 0.28                         5.0
44944           9.45                 0.31                         3.0
44953          10.85                 0.14                        15.0
44962           9.34                 0.11                         2.0
44984          14.85                 0.26                         4.0

       credit_score previous_loan_defaults_on_file  loan_status
15              670                            Yes            0
36              606                             No            1
37              582                             No            1
38              649                             No            1
39              602                             No            1
...             ...                            ...          ...
44910           676                             No            1
44944           666                             No            1
44953           576                             No            1
44962           657                             No            1
44984           592                             No            1

[5126 rows x 14 columns]>